  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Work Sans", sans-serif;
  }
  

.c1 .navbar {
      width: 100%;
      background-color: white;
      padding: 15px 40px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: left;

  }


.container .navbar span,
.container .navbar input,
.container .navbar button,
.container .navbar a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;


  }


.container .navbar input.search-input {
      padding: 6px 10px;
      font-size: 16px;
      border-radius: 10px;
      border-color: #0074C4;
      border: 2px solid #0074C4;
      margin-left: 30px;
  }

  .container .navbar button.search-btn {
      padding: 6px 12px;
      font-size: 16px;
      cursor: pointer;
  }

.container .navbar a {
      text-decoration: none;
      color: #0074C4;
      font-size: 16px;
      font-family: "Work Sans", sans-serif;
      margin-left: 15px;
      font-weight: bold;

  }

.c1 {
      background: url('/projectweb/img/WhatsApp\ Image\ 2025-12-03\ at\ 01.14.32_00b99b45.jpg');
    height: calc(100vh - 130px);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      width: 100%;
      min-height: 600px;
      padding: 120px 40px;
      color: white;
  }

.c1 .container {
      position: relative;
  }

.c1 .side-image {
        position: absolute;
        top: -152px;
        right: 0px;
        height: 670px;
        width: 400px;
        object-fit: cover;
  }


.c1 .container  h1 {
    font-weight: 900;

      font-size: 45px;
      margin-bottom: 20px;
  }


.container .text-box {
      max-width: 600px;
      font-size: 22px;
      line-height: 1.6;
  }


.container .download-btn {
      display: inline-block;
      margin-top: 30px;
      padding: 12px 25px;
      background-color: #7b4bff;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      text-decoration: none;

  }

.container .download-btn:hover {
      background-color: #6237d9;
  }